@use '../global/mixins.scss' as *;

.articles {
    padding: 64px 16px 0px;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include desk {
        padding: 120px 40px 0px;
    }

    @include desk-l {
        padding: 120px 80px 0px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include desk {
            flex-direction: row;
            gap: 16px;
            align-items: end;
        }
    }
    
    &__title {
        color: var(--primary-color);
        font-weight: var(--weight-7);
    }

    &__link {
        font-family: var(--main-font);
        color: var(--primary-button-color);
        font-size: var(--body-text2);
        font-weight: var(--weight-6);
        line-height: var(--line-height-l2);
        
        @include desk {
            margin-left: auto;
        }
    }

    &__list {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 28px;
        list-style: none;

        @include desk {
            flex-direction: row;
            gap: 32px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }
    }
}