@use '../global/mixins.scss' as *;

.article-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 4px 30px #1D395F0D;

    &__picture {

        width: 409px;
        height: 298px;
        border-radius: 20px;
        overflow: hidden;

        @include desk {
            width: 100%;
            height: 702px;
        }
    }

    &__image {
        background-color: #F4F7FA;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 0%;

        @include desk {
            object-position: 50% 0%;
        }
    }

    &__title {
        color: var(--primary-color);
        font-weight: var(--weight-7);
        margin-top: 8px;
    }

    &__time {
        font-family: var(--main-font);
        color: var(--gray1-color);
        font-size: var(--base-text2);
        font-weight: var(--weight-4);
        line-height: var(--line-height-l2);
    }
}