@use '../global/mixins.scss' as *;

.catalog-banner {

    &__title {
        color: var(--primary-color);
        font-weight: var(--weight-7);
        margin-left: 16px;
        margin-top: 64px;

        @include desk {
            margin-left: 80px;

        }
    }

    &__title--highlight {
        color: var(--primary-button-color);
    }
}