@use '../global/mixins.scss' as *;

.catalog-banner {
    padding: 0 16px;
    background-image: url("/img/bgwaves.svg");
    background-size: 100% 100%;
    @include desk {
        padding: 0 80px;
    }

    &__title {
        color: var(--primary-color);
        font-weight: var(--weight-7);
        margin-top: 64px;
    }

    &__title--highlight {
        color: var(--primary-button-color);
    }
}