@use '../global/mixins.scss' as *;

.categories {
    padding: 64px 16px 0px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    width: 100%;

    @include desk {
        padding: 120px 40px 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @include desk-l {
        padding: 110px 80px 0px;
        grid-template-columns: repeat(2, 1fr);
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        @include desk {
            gap: 16px;
            grid-column: 2/3;
        }
    }

    &__id {
        font-family: var(--main-font);
        color: #0F73F6;
        font-size: var(--body-text2);
        font-weight: var(--weight-4);
        line-height: var(--line-height-l2);
    }

    &__title {
        color: var(--primary-color);
        font-weight: var(--weight-7);
        max-width: 408px;
    }

    &__text {
        font-family: var(--main-font);
        color: var(--primary-color);
        font-size: var(--body-text1);
        line-height: var(--line-height-l2);
        margin-bottom: 16px;
    }

    &__link {
        width: fit-content;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        list-style: none;
        width: 100%;

        @include desk {
            grid-row: 1;
        }
    }

    &__list-item:first-child {
        grid-column: 1/2;
        grid-row: 1 / span 2;
    }

    &__list-item:nth-child(2) {
        grid-column: 2/3;
        grid-row: 2 / span 2;
    }

    &__list-item:nth-child(3) {
        grid-column: 1/2;
        grid-row: 3 / span 2;
    }

    &__list-item:last-child {
        grid-column: 2/3;
        grid-row: 4 / span 2;
    }
}