@use '../global/mixins.scss' as *;

.faqs {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: space-between;

    @include desk {
        flex-direction: row;
        padding: 0 80px;
        gap: 40px;
        background-image: radial-gradient(#0F73F6 var(--base-color));
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include desk {
            align-self: center;
        }
    }

    &__id {
        font-family: var(--main-font);
        color: #0F73F6;
        font-size: var(--body-text2);
        font-weight: var(--weight-4);
        line-height: var(--line-height-l2);
    }

    &__title {
        color: var(--primary-color);
        font-weight: var(--weight-7);
        margin-bottom: 16px;
    }

    &__link {
        width: fit-content;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        list-style: none;
    }
}