@use '../global/mixins.scss' as *;

.faqs {
    padding: 0 16px;
    display: grid;
    gap: 64px;
    justify-content: space-between;
    position: relative;

    @include desk {
        flex-direction: row;
        padding: 0 80px;
        gap: 40px;
        grid-template-columns: repeat(2, 1fr);
    }

    ::before {
        @include desk {
            content: "";
            position: absolute;
            width: 689px;
            height: 498px;
            top: 164px;
            left: 412px;
            background-image: radial-gradient(70% 30%, #0F73F6, #FFFFFF);
            filter: blur(200px);
            z-index: -1;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include desk {
            align-self: center;
        }
    }

    &__id {
        font-family: var(--main-font);
        color: #0F73F6;
        font-size: var(--body-text2);
        font-weight: var(--weight-4);
        line-height: var(--line-height-l2);
    }

    &__title {
        color: var(--primary-color);
        font-weight: var(--weight-7);
        margin-bottom: 16px;
    }

    &__link {
        width: fit-content;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        list-style: none;
    }
}