@use '../global/mixins.scss' as *;

.header {
    display: flex;
    padding: 24px 16px;
    box-shadow: 0 4px 40px #1D395F05;
    position: fixed;
    top: 0;
    background-color: var(--base-color);
    width: 100%;
    z-index: 1000;

    @include desk {
        padding: 24px 40px;
        align-items: center;
    }

    &__burger {
        position: relative;

        @include desk {
            position: absolute;
            visibility: hidden;
        }
    }

    &__burger-container {
        width: 24px;
        height: 24px;
        position: relative;
    }

    &__burger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20px;
        height: 14px;
        cursor: pointer;
        margin: auto;
        margin-top: 20px;
        position: absolute;
        left: 2px;
        bottom: 4px;
    }

    &__burger-icon &__burger-line {
        display: block;
        width: 20px;
        height: 2px;
        background-color: #fff;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        border-radius: 20px;
    }

    &__burger-icon {
        transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__burger-icon.activated {
        transform: rotate(360deg);
    }

    &__burger-icon.activated &__burger-line:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
        width: 20px;
    }

    &__burger-icon.activated &__burger-line:nth-child(2) {
        opacity: 0;
        transform: scaleX(0);
    }

    &__burger-icon.activated &__burger-line:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
        width: 20px;
    }

    &__logo-link {
        align-self: center;
    }
    
    &__logo {
        width: 107.4286px;
        height: 24px;
        margin-left: 16px;
        align-self: center;

        @include desk {
            margin-left: 0px;
        }
    }

    &__nav {
        display: flex;
        position: fixed;
        top: 92px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #F4F7FA;
        z-index: 2;
        transform: translateY(-200%);
        transition: transform 0.3s ease-in-out;
        padding: 34px 48px;

        @include desk {
            position: relative;
            padding: 0;
            height: auto;
            transform: translateY(0%);
            top: auto;
            background-color: transparent;
        }
    }

    &__nav--active {
        transform: translateY(0%);
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: 44px;
        list-style: none;

        @include desk {
            flex-direction: row;
            gap: 32px;
            margin-left: 44px;
        }
    }

    &__link {
        font-family: var(--main-font);
        color: var(--primary-color);
        font-size: var(--body-text2);
        font-weight: var(--weight-6);
        line-height: var(--line-height-l1);
    }

    &__searcher {
        margin-left: auto;
        margin-right: 8px;

        @include desk {
            position: absolute;
            visibility: hidden;
        }
    }

    &__search {
        position: fixed;
        top: 98px;
        right: 16px;
        min-width: 240px;
        transform: translateY(-300%);
        transition: transform 0.3s ease-in-out;
        z-index: 2;

        @include desk {
            display: flex;
            position: relative;
            transform: translate(0%);
            top: auto;
            right: auto;
            margin-right: 8px;
        }
    }

    &__search--active {
        transform: translateY(0%);
    }

    &__basket-icon {
        fill: white;
    }
}