@use '../global/mixins.scss' as *;

.plans {

    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include desk {
        padding: 0 40px;
    }

    @include desk-l {
        padding: 0 80px;
    }

    &__id {
        font-family: var(--main-font);
        color: #0F73F6;
        font-size: var(--body-text2);
        font-weight: var(--weight-4);
        line-height: var(--line-height-l2);
        text-align: center;
    }

    &__title {
        color: var(--primary-color);
        font-weight: var(--weight-7);
        text-align: center;
        margin-bottom: 48px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: end;

        @include desk {
            flex-direction: row;
            justify-content: center;
        }
    }
}