.section-title {
    font-family: var(--title-font);
    font-size: var(--heading1);
    line-height: var(--line-height-h1);
    letter-spacing: -0.5px;

    &--small {
        font-size: var(--heading5);
        line-height: var(--line-height-h5);
        letter-spacing: 0px;
    }

    &--medium {
        font-size: var(--heading4);
        line-height: var(--line-height-h4);
        letter-spacing: 0px;
    }

    &--big {
        font-size: var(--heading3);
        line-height: var(--line-height-h3);
        letter-spacing: var(--letter-spacing);
    }

    &--great {
        font-size: var(--heading2);
        line-height: var(--line-height-h2);
        letter-spacing: var(--letter-spacing);
    }
}