@use '../global/mixins.scss' as *;

.utilities-card {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px; 
    width: fit-content;

    &__title {
        color: var(--primary-color);
        font-weight: var(--weight-5);
        line-height: var(--line-height-l1);
    }

    &__box {
        padding: 32px;
        border-radius: 20px;
        background-color: var(--base-alt2-color);
    }
}