@use '../global/mixins.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    background-color: var(--base-color);
    overflow-x: hidden;
    padding-top: 92px;
    min-width: 440px;
}

main {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    max-width: 1440px;
    margin-inline: auto;
}

section {
    max-width: 1440px;
    margin-inline: auto;
}

footer {
    padding-top: 64px;
    max-width: 1440px;
    margin-inline: auto;

    @include desk {
        padding-top: 130px;
    }
}
