@mixin heading-1 {
    font-family: var(--title-font);
    font-size: var(--heading1);
    line-height: var(--line-height-h1);
    letter-spacing: var(--letter-spacing);
}

@mixin heading-2 {
    font-family: var(--title-font);
    font-size: var(--heading2);
    line-height: var(--line-height-h2);
    letter-spacing: var(--letter-spacing);
}

@mixin heading-3 {
    font-family: var(--title-font);
    font-size: var(--heading3);
    line-height: var(--line-height-h3);
    letter-spacing: var(--letter-spacing);

}

@mixin heading-4 {
    font-family: var(--title-font);
    font-size: var(--heading4);
    line-height: var(--line-height-h4);
}

@mixin heading-5 {
    font-family: var(--title-font);
    font-size: var(--heading5);
    line-height: var(--line-height-h5);
}



@mixin base-main-text {
    font-family: var(--main-font);
    font-weight: var(--weight-4);
}