<section class="article-banner">
    <div class="article-banner__wrapper">
        <span class="article-banner__tag">{{ articlebanner.niche }}</span>
        <h1 class="article-banner__title section-title">{{ articlebanner.title }}</h1>
        <h1 class="article-banner__heading section-title">
            <span class="article-banner__line">{{ articlebanner.heading1 }}</span>
            <span class="article-banner__line">{{ articlebanner.heading2 }}</span>
        </h1>
    </div>
</section>