<section class="articles">
    <div class="articles__wrapper">
        <div class="articles__details">
            <h2 class="articles__title section-title section-title--great">{{ articles.title }}</h2>
            <a href="{{ articles.link }}" class="articles__link">{{ articles.button }}</a>
        </div>
        <ul class="articles__list">
            {% for item in articles.cards %}
                <li class="articles__item">
                    <a href="{{ item.link }}">
                        {% include 'partials/article-card.njk' %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>