<section class="article-banner">
    <div class="article-banner__box">
        <span class="article-banner__box-tag">{{ articlebanner.niche }}</span>
    </div>
    <h1 class="article-banner__title section-title section-title--great">{{ articlebanner.title }}</h1>
</section>