<section class="article-banner">
    <div class="article-banner__wrapper">
    <span class="article-banner__tag">{{ articlebanner.niche }}</span>
    <h1 class="article-banner__title section-title section-title--great">{{ articlebanner.title }}</h1>
    </div>
</section>