<section class="banner">
    <div class="banner__details">
        <h1 class="banner__title">{{ banner.title }}</h1>
        <p class="banner__text">{{ banner.text }}</p>
        <a href="{{ banner.link1 }}" class="primary-butotn">{{ banner.button1 }}</a>
        <a href="{{ banner.link2 }}" class="tertiary-button"><img src="icon.svg" alt="" class="banner__icon">{{ banner.button2 }}</a>
    </div>
    <div class="banner__images">
        {% for item in banner.pictures %}
            <picture class="banner__picture">
                <source srcset="{{ item.image1 }}, {{ item.image2 }} 2x">
                <img src="{{ item.image1 }}" alt="image" class="banner__image"/>
            </picture>
        {% endfor %}
        <div class="banner__icon-box">
            <img src="icon.svg" alt="" class="banner__icon">
        </div>
        <div class="banner__icon-box">
            <img src="icon.svg" alt="" class="banner__icon">
        </div>
    </div>
</section>