<article class="blog-card">
    <picture class="blog-card__picture">
        <source srcset="{{ item.image1 }}, {{ item.image2 }} 2x">
        <img src="{{ item.image1 }}" alt="image" class="blog-card__image" width="368" height="272"/>
    </picture>
    <h3 class="blog-card__title section-title section-title--small">{{ item.title }}</h3>
    <time class="blog-card__time" datetime="{{ item.datetime }}">{{ item.date }}</time>
    <div class="blog-card__tagger">
        <span class="blog-card__tag">{{ item.tag }}</span>
    </div>
</article>