<section class="catalog">
    <aside class="catalog__sidebar">
        <div class="catalog__sidebar-header">
            <h4 class="catalog__sidebar-title section-title section-title--medium">{{ catalog.filtertitle }}</h4>
            <button type="button" class="catalog__sidebar-closer button button--secondary button--icon-small"></button>
        </div>
        <form class="catalog__form" action="url" method="post">
            <button type="reset" class="catalog__sidebar-reset button button--secondary button--medium">{{ catalog.buttonreset }}</button>
            {% for item in catalog.filters %}
                <article class="catalog__filter">
                    <h4 class="catalog__filter-title section-title section-title--medium">{{ item.title }}</h4>
                    {% if item.type == "checkbox" or item.type == "radio" %}
                        <div class="catalog__filters">
                            {% for option in item.options %}
                                {% set optionId = "input_" + item.name + "_" + loop.index %}
                                <div class="form-item">
                                    <input class="catalog__form-input checkbox-input" id="{{ optionId }}" type="{{ item.type }}" name="{{ item.name }}" {% if item.defaultAll or (item.default == option) %}checked{% endif %}>
                                    <label class="catalog__form-label checkbox-label" for="{{ optionId }}">{{ option }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </article>
            {% endfor %}
            <div class="catalog__slide-box">
                <h4 class="catalog__slider-title section-title section-title--medium">{{ catalog.slidertitle }}</h4>
                <input type="range" min="5" max="50" value="25" class="catalog__slider" id="range">
            </div>
        </form>
        <button type="submit" class="catalog__sidebar-button button button--primary button--large">{{ catalog.buttonsubmit }}</button>
    </aside>
    <div class="catalog__box">
        <div class="catalog__settings">
            <form action="url" method="post" class="catalog__select-box">
                <label for="type" hidden></label>
                <select name="type" id="type" class="catalog__select form-select form-select--small">
                    {% for item in catalog.selectors %}
                        <option value="{{ item.value }}" class="catalog__select-option">{{ item.name }}</option>
                    {% endfor %}
                </select>
                <button type="button" class="catalog__filter-button button button--primary button--icon-small"><img src="icon.svg" alt=""></button>
            </form>

            <form action="/switch-view" method="post" class="catalog__view">
                <p class="catalog__settings-text">{{ catalog.text }}</p>
                {% for option in catalog.viewOptions.options %}
                    {% set isChecked = viewOptions.defualtView == option.value %}
                    <input type="radio" id="{{ option.id }}" name="view" value="{{ option.value }}" class="catalog__view-input" {% if isChecked %}checked{% endif %}>
                    <label for="{{ option.id }}" class="catalog__view-label {% if isChecked %}button button--primary button--icon-small{% else %}button button--secondary button--icon-small{% endif %}"><img src="icon.svg" alt=""></label>
                {% endfor %}
            </form>
        </div>
        <ul class="catalog__tags">
            {% for item in catalog.tags %}
                <li class="catalog__tag">{{ item }}
                    <img class="catalog__tag-icon" src="icon.svg" alt=""></li>
            {% endfor %}
        </ul>
        <ul class="catalog__products">
            {% for item in catalog.products %}
                <li class="catalog__product">
                    <a href="{{ item.link }}">{% include 'partials/catalog-card.njk'%}</a>
                </li>
            {% endfor %}
        </ul>
        <button type="button" class="catalog__button button button--secondary button--large">{{ catalog.buttonload }}</button>
    </div>
</section>