<section class="catalog-banner">
    <h1 class="vatalog-banner__title">{{ catalogbanner.title1 }}<span> {{ catalogbanner.highlight }} </span>{{ catalogbanner.title2 }}</h1>
    <img src="background.svg" alt="" class="catalog-banner__image">
</section>