<section class="catalog-banner">
    <div class="catalog-banner__wrapper">
        <h1 class="catalog-banner__title section-title section-title--great">
            <span class="catalog-banner__title">{{ catalogbanner.title1 }}</span>
            <span><span class="catalog-banner__title--highlight">{{ catalogbanner.highlight }} </span>{{ catalogbanner.title2 }}</span></h1>
    </div>
</section>