<article class="catalog-card" {% if item.status == "SOLD OUT" %}disabled{% endif %}>
    <picture class="catalog-card__picture">
        <source srcset="{{ item.image1 }}, {{ item.image2 }} 2x"/>
        <img src="{{ item.image1 }}" alt="image" class="catalog-card__image" width="408px" height="260px"/>
    </picture>
    {% if item.status == "POPULAR" %}
        <div class="catalog-card__tag">
            <span class="catalog-card__status">{{ item.status }}</span>
        </div>
    {% endif %}
    {% if item.status == "NEW" %}
        <div class="catalog-card__tag catalog-card__tag--mark">
            <span class="catalog-card__status">{{ item.status }}</span>
        </div>
    {% endif %}
    {% if item.status == "SOLD OUT" %}
        <div class="catalog-card__tag catalog-card__tag--disabled">
            <span class="catalog-card__status">{{ item.status }}</span>
        </div>
    {% endif %}
    <div class="catalog-card__details">
        <h3 class="catalog-card__title section-title section-title--small">{{ item.title }}</h3>
        <span class="catalog-card__subtitle">{{ item.subtitle1 }} • {{ item.subtitle2 }}</span>
        <span class="catalog-card__text section-title section-title--small">€{{ item.price }}</span>

        <div class="catalog-card__buttons">
            {% if item.status != "SOLD OUT" %}
                <button type="button" class="button button--secondary button--icon-small">
                    <svg class="catalog-card__icon">
                        <use href="img/sprite.svg#heart"></use>
                    </svg>
                </button>
                <button type="button" class="button button--primary button--icon-small">
                    <svg class="catalog-card__bagicon">
                        <use href="img/sprite.svg#shopping-bag-02"></use>
                    </svg>
                </button>
            {% endif %}
        </div>
    </div>
</article>