<section class="catalog-banner">
    <h1 class="catalog-banner__title section-title section-title--great">{{ catalogbanner.title1 }}<span class="catalog-banner__title catalog-banner__title--highlight"> {{ catalogbanner.highlight }} </span>{{ catalogbanner.title2 }}</h1>
    <img src="background.svg" alt="" class="catalog-banner__image">
</section>