<a class="categories-card">
    <svg class="categories-card__icon">
        <use href="{{ item.icon }}"></use>
    </svg>
    <h3 class="categories-card__title section-title section-title--big">{{ item.title }}</h3>
    <span class="categories-card__subtitle">{{ item.subtitle1 }} • {{ item.subtitle2 }}</span>
</a>