<section class="categories">
    <div class="categories__wrapper">
        <div class="categories__details">
            <span class="categories__id">{{ categories.id }}</span>
            <h2 class="categories__title section-title section-title--great">{{ categories.title }}</h2>
            <p class="categories__text">
                {{ categories.text }}</p>
            <a href="{{ categories.link }}" class="categories__link button button--primary button--large">{{ categories.button }}</a>
        </div>
        <div class="categories__list">
            <div class="categories__column">
                {% for item in categories.cards1 %}
                    <div class="categories__list-item">
                        {% include 'partials/categories-card.njk'%}
                    </div>
                {% endfor %}
            </div>
            <div class="categories__column">
                {% for item in categories.cards2 %}
                    <div class="categories__list-item">
                        {% include 'partials/categories-card.njk'%}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>