<section class="categories">
    <div class="categories__details">
        <span class="categories__id">{{ categories.id }}</span>
        <h2 class="categories__title">{{ categories.title }}</h2>
        <p class="categories__text">
            {{ categories.text }}</p>
        <a href="{{ categories.link }}">{{ categories.button }}</a>
    </div>
    <ul class="categories__list">
        {% for item in categories.cards %}
            <li class="categories__list-item">
                <a href="{{ item.link }}">
                    {% include 'partials/categories-card.njk'%}
                </a>
            </li>
        {% endfor %}
    </ul>
</section>