<article class="categories-card">
    <img src="icon.svg" alt="" class="categories-card__icon">
    <h3 class="categories-card__title section-title section-title--big">{{ item.title }}</h3>
    <span class="categories-card__subtitle">{{ item.subtitle1 }} • {{ item.subtitle2 }}</span>
</article>