<li class="categories-card">
    <a href="{{ item.link }}" class="categories-card__link">
        <img src="icon.svg" alt="" class="categories-card__icon">
        <h3 class="categories-card__title">{{ item.title }}</h3>
        <span class="categories-card__subtitle">{{ item.subtitle1 }} • {{ item.subtitle2 }}</span>
    </a>
</li>