<details class="faqs-card">
    <summary class="faqs-card__question section-title section-title--small">{{ item.question }}
        <svg class="faqs-card__icon">
            <use href="img/sprite.svg#chevron-down"></use>
        </svg>
    </summary>
    <p class="faqs-card__answer">
        {{ item.answer }}
    </p>
</details>