<footer class="footer">
    <div class="footer__top">
        <div class="footer__details">
            <svg class="footer__logo">
                <use href="img/sprite.svg#logo_white"></use>
            </svg>
            <p class="footer__text">{{ footer.text }}</p>
        </div>
        <nav class="footer__nav">
            {% for item in footer.nav %}
                <div class="footer__navigation">
                    <h5 class="footer__nav-title section-title section-title--small">{{ item.title }}</h5>
                    <ul class="footer__nav-list">
                        {% for item in item.items %}
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </nav>
    </div>
    <div class="footer__socials">
        <ul class="footer__icons">
            {% for item in footer.socials.links %}
                <li class="footer__icons-item">
                    <a href="{{ item.link }}" class="footer__link button button--secondary button--icon-large">
                        <svg class="footer__icon">
                            <use href="{{ item.icon }}"></use>
                        </svg>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="footer__socials-box">
            <h4 class="footer__socials-title section-title section-title--medium">{{ footer.socials.title }}</h4>
            <form action="/submit-search" method="post" class="footer__form">
                <label for="email" class="footer__form-label"></label>
                <input id="email" type="email" pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$/." placeholder="{{ footer.socials.placeholder }}" class="footer__input text-input" required>
                <button type="submit" class="button button--primary button--large">{{ footer.socials.submit }}</button>
            </form>
        </div>
    </div>
    <div class="footer__bottom">
        <ul class="footer__list">
            {% for item in footer.bottom.links %}
                <li class="footer__list-item">
                    <a href="{{ item.link }}" class="footer__bottom-link">{{ item.title }}
                        {% if loop.index != 3 %}
                            <span class="footer__bottom-separator">|</span>{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <p class="footer__bottom-text">{{ footer.bottom.text }}</p>
    </div>
</footer>