<header class="header">
    <div class="header__wrapper">
        <button type="button" class="header__burger button button--primary button--icon-small">
            <span class="header__burger-line"></span>
            <span class="header__burger-line"></span>
            <span class="header__burger-line"></span>
        </button>
        <a href="{{ header.logo }}" class="header__logo-link">
            <svg class="header__logo">
                <use href="img/sprite.svg#logo_white"></use>
            </svg>
        </a>

        <nav class="header__nav">
            <ul class="header__nav-list">
                {% for item in header.nav %}
                    <li class="header__nav-item">
                        <a href="{{ item.link }}" class="header__link">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <button class="header__searcher button button--secondary button--icon-small">
            <svg class="header__searcher-icon" width="24px" height="24px">
                <use href="img/sprite.svg#search-md"></use>
            </svg>
        </button>
        <form action="/submit-search" method="post" class="header__search">
            <label for="search" class="header__search-label">search</label>
            <input id="search" type="search" pattern="^[a-zA-Z0-9\s]+$" placeholder="Search for Digital Assets" class="header__search-input text-input text-input--small" required>
            <button type="submit" class="header__search-submit">submit</button>
        </form>
        <button type="button" class="header__basket button button--primary button--icon-small">
            <svg class="header__basket-icon" width="24px" height="24px">
                <use href="img/sprite.svg#shopping-bag-02"></use>
            </svg>
        </button>
    </div>
</header>