<li class="{% if item.status == "none" %}plan-card{% endif %}{% if item.status == "BEST SELLER" %}plan-card plan-card--highlight{% endif %}">
    {% if item.status == "BEST SELLER" %}
        <div class="plan-card__tag-box">
            <span class="plan-card__tag">{{ item.status }}</span>
        </div>
    {% endif %}
    <h5 class="plan-card__name">{{ item.name }}</h5>
    <h2 class="plan-card__title">€{{ item.title }}
        <span class="plan-card__text">{{ item.text }}</span></h2>
    <ul class="plan-card__list">
        {% for item in item.includes %}
            <li class="plan-card__item">
                <img src="icon.svg" alt="" class="plan-card__icon">
                <p class="plan-card__subtitle">{{ item }}</p>
            </li>
        {% endfor %}
    </ul>
    {% if item.status == "none"%}
        <a href="{{ item.link }}" class="plan-card__link secondary-button">{{ item.button }}</a>
    {% endif %}
    {% if item.status == "BEST SELLER"%}
        <a href="{{ item.link }}" class="plan-card__link primary-button">{{ item.button }}</a>
    {% endif %}
</li>