<li class="utilities-card">
    <div class="utilities-card__box">
        <svg class="utilities-card__icon">
            <use href="{{ item.icon }}"></use>
        </svg>
    </div>
    <h2 class="utilities-card__title section-title section-title--small">{{ item.title }}</h2>
</li>