<section class="utilities">
    <div class="utilities__wrapper">
        <ul class="utilities__list">
            {% for item in utilities.title %}
                {% include 'partials/utilities-card.njk'%}
            {% endfor %}
        </ul>
    </div>
</section>