<li class="utilities-card">
    <h5 class="utilities-card__title section-title section-title--small">{{ item.title }}</h5>
    <article class="utilities-card__box">
        <svg class="utilities-card__icon">
            <use href="{{ item.icon }}"></use>
        </svg>
    </article>
</li>