<li class="utilities-card">
    <h5 class="utilities-card__title">{{ item }}</h5>
    <article class="utilities-card__box">
        <img src="icon.icon" alt="" class="utilities-card__icon">
    </article>
</li>