{% extends "layouts/base.njk" %}

{% set title = "PixMart Contacts" %}
{{ title }}
{% set url = "http://localhost:8080/blog.html"%}

{% block content %}
    {% include 'partials/contacts.njk' %}
{% endblock %}